<a href="https://colab.research.google.com/github/kdmid/Class_Python/blob/main/Practice/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary `{}` 정의
- ["keys"] = ["values"]
- List와 유사하나 List는 index에 의존하고, Dictionary는 keys에 의존한다.
- rename 할 때 자주 사용한다.

```
d = {
  <키>: <값>,
  <키>: <값>,
    .
    .
    .
  <키>: <값>,
}
```

In [ ]:
kbo = {
    "인천"  : "SK", 
    "서울1" : "LG", 
    "서울2" : "두산", 
    "창원"  : "NC",
    "광주"  : "기아",
    "대구"  : "삼성",
    "대전"  : "한화",
    "부산"  : "롯데",
    "수원"  : "KT",
    "고척"  : "키움",
}
kbo

{'인천': 'SK',
 '서울1': 'LG',
 '서울2': '두산',
 '창원': 'NC',
 '광주': '기아',
 '대구': '삼성',
 '대전': '한화',
 '부산': '롯데',
 '수원': 'KT',
 '고척': '키움'}

In [ ]:
print(kbo[0])

KeyError: 0

In [ ]:
print(kbo["인천"])

SK

In [ ]:
kbo["전주"] = "현대"
print(kbo)

{'인천': 'SK', '서울1': 'LG', '서울2': '두산', '창원': 'NC', '광주': '기아', '대구': '삼성', '대전': '한화', '부산': '롯데', '수원': 'KT', '고척': '키움', '멸망': '한화', '전주': '현대'}

In [ ]:
kbo[0:2]

TypeError: unhashable type: 'slice'

- 삭제 방법

In [ ]:
del kbo['전주']
kbo

{'인천': 'SK',
 '서울1': 'LG',
 '서울2': '두산',
 '창원': 'NC',
 '광주': '기아',
 '대구': '삼성',
 '대전': '한화',
 '부산': '롯데',
 '수원': 'KT',
 '고척': '키움',
 '멸망': '한화'}

# Dictionary 관련 함수들
## 1. `d.clear()`
- 모두 삭제

In [ ]:
dic = {'A': 1, 'B': 2, 'C': 3}
dic

{'A': 1, 'B': 2, 'C': 3}

In [ ]:
dic.clear()
dic

{}

## 2. `d.get()`
- key값을 활용해서 value값을 가져오는 함수다.

In [ ]:
dic = {'A': 1, 'B': 2, 'C': 3}
print(dic.get('B'))
print(dic.get('Z'))

2
None

- `.get('B')`에 해당하는 `Dictionary`값이 존재하기 때문에 2를 반환한다. 
- `.get('Z')`에 해당하는 `Dictionary`값이 존재하지 않기 때문에 `None`을 반환한다. 
  + 그런데 `None`을 반환하기 보다 특정 숫자 또는 문자로 출력하고 싶다면 다음과 같이 입력하면 된다.

In [ ]:
print(dic.get('z', 0))
print(dic.get('z', "없음"))

0
없음

## 3. `d.keys()`
- `Dictionary`는 `key`와 `value`로 구성되어 있는데, `keys()`의 뜻은 현재 구성되어 있는 `Dictionary`에서 `keys()`를 `dict_keys` 형태로 반환한다.
  + 이 때, `list`로 변환을 하려면 `list()`를

In [ ]:
dic = {'A': 1, 'B': 2, 'C': 3}
print(dic.keys())
print(list(dic.keys()))

dict_keys(['A', 'B', 'C'])
['A', 'B', 'C']

## 4. `d.values()`
- `keys()`를 활용하여 `key`를 반환했던 것처럼, `values()`를 활용하여 `value`를 진행하자. 
  + 코드는 위와 동일하다. 다만, 함수만 바꾼다.

In [ ]:
dic = {'A': 1, 'B': 2, 'C': 3}
print(dic.values())
print(list(dic.values()))

dict_values([1, 2, 3])
[1, 2, 3]