<a href="https://colab.research.google.com/github/kdmid/Class_Python/blob/main/Practice/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loop
- 파이썬의 기본 문법은 아래와 같다. 

```python
for <변수> in <iterable>:
    <코드>
```
- 여기에서 `iterable`의 개념은 `list`와 `tuple`을 의미한다. 
- 간단하게 `for_loop` 코드를 작성해보자. 
  + 우선, class_names라는 리스트 객체를 작성한다. 
  + `for_loop`를 활용해서 리스트 안에 있는 것을 하나씩 출력한다.

In [ ]:
class_names = ["신형", "나은", "동호", "득중", "치원", "형철"]
print(class_names[0])
print(class_names[1])
print(class_names[2])
print(class_names[3])
print(class_names[4])
print(class_names[5])

신형
나은
동호
득중
치원
형철

In [ ]:
class_names = ["신형", "나은", "동호", "득중", "치원", "형철"]
for name in class_names:
    print(name)

신형
나은
동호
득중
치원
형철

## 1. Iterables
- `Iteration`을 한국어로 번역하면 되풀이다. 
- 그런데, 어떤 데이터 유형이 `되풀이`를 할 수 있을가?
  + `List`와 `Tuple`이 되풀이가 될 수 있는 소재인 것은 확실하다. 
- 어떤 `객체(=Object)`가 있을 때, 이 객체가 `iterable` 한것인지, 또는 아닌지 확인하는 함수(`iter()`)도 있다.

In [ ]:
iter(class_names) #반복문이 사용가능한지 알려주는 함수

In [ ]:
num = 100
iter(num) #반복문 사용 불가시 에러가 뜬다

TypeError: 'int' object is not iterable

## 2. next()
- next()는 iterator에서의 next value를 의미한다.

In [ ]:
A = ["철수", "영희", "길동"]
iterable = iter(A)
iterable

In [ ]:
print(next(iterable))
print(next(iterable))
print(next(iterable))

철수
영희
길동

## 3.Dictionary

In [ ]:
dict = {"신형":80, "나은":90, "동호":95}
print(dict)

{'신형': 80, '나은': 90, '동호': 95}

In [ ]:
for i in dict:
    print(i)

신형
나은
동호

- `i`와 `key`값에 대응되어 `Value`값을 출력하는 형태다.
- 또 다른 방법은 `.values()`를 이용하는 것이다.

In [ ]:
for v in dict.values():
    print(v)

80
90
95

In [ ]:
dict.values()

dict_values([80, 90, 95])

In [ ]:
dict.items()

dict_items([('신형', 80), ('나은', 90), ('동호', 95)])

In [ ]:
for k, v in dict.items():
    print("key = ", k, '|', "value = ", v)

key =  신형 | value =  80
key =  나은 | value =  90
key =  동호 | value =  95

In [ ]:
for i, col enumerate(data[continuous_vars].colums[0:]):
    if i <= 3:
        sns. scatterplot()

SyntaxError: invalid syntax (<ipython-input-25-0612cb25d8b7>, line 1)

## 4. Range()

In [ ]:
x = range(5)
print(x)

range(0, 5)

In [ ]:
for num in range(5):
    print(num)

0
1
2
3
4

## 5. Lambda
- input값 : 표현하려는 값
- x, y : x + y

In [ ]:
def temp_sum(x, y):
    return x + y

temp_sum(5, 7)

12

In [ ]:
temp2_sum = (lambda x, y: x + y)(5, 7)
print(temp2_sum)

12

In [ ]:
num_list = [5, 6, 7]
increased = list(map(lambda x : x + 3, num_list))
print(increased)

[8, 9, 10]

In [ ]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sqrt_list = []
for x in num_list:
    if x%2 == 0 :
        sqrt_list.append(x*x)
        
print(sqrt_list)

[4, 16, 36, 64, 100]

- 아래와 같이 간편히 할 수 있다.

In [ ]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sqrt_list = [(lambda x : x*x)(x) for x in num_list if x%2 == 0]
print(sqrt_list)

[4, 16, 36, 64, 100]