<a href="https://colab.research.google.com/github/kdmid/Class_Python/blob/main/Practice/Pandas/03_Series_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%8B%AC%ED%94%8C_%EB%B6%84%EC%84%9D(%EA%B0%9C%EC%88%98%2C_%EB%B9%88%EB%8F%84_%EB%93%B1_%EA%B3%84%EC%82%B0%ED%95%98%EA%B8%B0)_After.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 학습목표
 1. Series 함수 활용하여 데이터 분석하기

In [ ]:
import numpy as np
import pandas as pd

#### **Series size, shape, unique, count, value_counts 함수**
 - size : 개수 반환
 - shape : 튜플형태로 shape반환
 - unique: 유일한 값만 ndarray로 반환
 - count : NaN을 제외한 개수를 반환
 - mean: NaN을 제외한 평균 
 - value_counts: NaN을 제외하고 각 값들의 빈도를 반환

In [ ]:
s = pd.Series([1, 1, 2, 1, 2, 2, 2, 1, 1, 3, 3, 4, 5, 5, 7, np.NaN])
s

In [ ]:
len(s)

In [ ]:
s.size

In [ ]:
s.shape

In [ ]:
s.unique()

In [ ]:
s.count()

In [ ]:
a = np.array([2, 2, 2, 2, np.NaN])
a.mean()

b = pd.Series(a)
b.mean()

In [ ]:
s.mean()

In [ ]:
s

In [ ]:
s.value_counts()

index를 활용하여 멀티플한 값에 접근

In [ ]:
s[[5, 7, 8, 10]].value_counts()

#### **head, tail 함수**
 - head : 상위 n개 출력 기본 5개
 - tail : 하위 n개 출력 기본 5개

In [ ]:
s.head(n=7)

In [ ]:
s.tail()

In [ ]:
s