<a href="https://colab.research.google.com/github/kdmid/Class_Python/blob/main/Practice/Pandas/06_Series_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B3%80%EA%B2%BD___%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1%ED%95%98%EA%B8%B0_After.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 학습목표
 1. pandas Series 이해하기

In [ ]:
import numpy as np
import pandas as pd

#### **Series 값 변경**
  - 추가 및 업데이트: 인덱스를 이용
  - 삭제: drop함수 이용

In [ ]:
s = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s

In [ ]:
s['a'] = 200
s

In [ ]:
s['k'] = 300
s

In [ ]:
s.drop('k', inplace=True)

In [ ]:
s

In [ ]:
s[['a', 'b']] = [300, 900]
s

#### **Slicing**
 - 리스트, ndarray와 동일하게 적용

In [ ]:
s1 = pd.Series(np.arange(100, 105))
s1

In [ ]:
s1[1:3]

In [ ]:
s2 = pd.Series(np.arange(100, 105), ['a', 'c', 'b', 'd', 'e'])
s2

In [ ]:
s2[1:3]

In [ ]:
s2['c':'d']