<a href="https://colab.research.google.com/github/kdmid/Class_Python/blob/main/Practice/Pandas/16_DataFrame_NaN_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%B2%98%EB%A6%AC_Before.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 학습목표
 1. NaN 처리 방법 이해하기

In [ ]:
import pandas as pd

In [ ]:
# data 출처: https://www.kaggle.com/hesh97/titanicdataset-traincsv/data
train_data = pd.read_csv('./train.csv')
train_data.head()

#### NaN 값 확인
 - info함수를 통하여 개수 확인
 - isna함수를 통해 boolean 타입으로 확인

#### NaN 처리 방법
 - 데이터에서 삭제
   - dropna 함수 
 - 다른 값으로 치환
   - fillna 함수

* NaN 데이터 삭제하기

* NaN 값 대체하기
 - 평균으로 대체하기
 - 생존자/사망자 별 평균으로 대체하기