<a href="https://colab.research.google.com/github/kdmid/Class_Python/blob/main/Postech/Postech_Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수와 메모리
- 파이썬에서 변수의 데이터 형식은 값을 넣는 순간마다 변경될 수 있
는 유연한 구조

In [2]:
a = 10 #정수형
type(a)

int

In [3]:
 a = 10.5 #실수형
type(a)

float

- 변수에는 다른 변수의 값도 저장 가능

In [4]:
width = 10
height = 20
area = width * height
print(area)

200

- 문자열, 실수 저장

In [5]:
s = '안녕하세요?'
print(s)

안녕하세요?

In [6]:
pi = 3.141592
print(pi)

3.141592

- 문제 해결 : 변수 x 와 변수 y의 값을 서로 바꾸는 프로그램을 작성
- 다음과 같은 프로그램으로는 변수의 값을 교환할 수 없음
- 왜 그럴까? 그리고 해결 방법은 무엇일까?

      a = 10 # a : 10  
      b = 20 # b : 20  
      a = b # a : 20  
      b = a # b : 20

- 해결 방법 1

In [7]:
x = 90
y = 95
print(x, y)

90 95

In [8]:
temp= x
x = y
y= temp
print(x, y)

95 90

- 해결 방법 2

In [9]:
a = 10
b = 20
a,b = b,a
print (a,b)

20 10

# 입출력 
- 입력 함수 : `input()`
- 출력함수 : `print()`

In [12]:
name = input('이름을 입력해주세요: ')
print(name, "님 만나서 반갑습니다.")

이름을 입력해주세요: 포닉스
포닉스 님 만나서 반갑습니다.

In [14]:
x = input("첫 번째 정수: ")
y = input("두 번째 정수: ")
sum = x + y
print("합은 ", sum)

첫 번째 정수: 10
두 번째 정수: 20
합은  1020

- `input`만 입력하게 될 경우 문자형으로 인식하게 된다.
- 따라서 `int`을 넣어 정수형으로 인식하게끔 만들어줘야 한다.

In [15]:
x = int(input("첫 번째 정수: "))
y = int(input("두 번째 정수: "))
sum = x + y
print("합은 ", sum)

첫 번째 정수: 10
두 번째 정수: 20
합은  30