<a href="https://colab.research.google.com/github/kdmid/Class_Python/blob/main/Postech/Postech_Python_Practoce2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반복문 for, while

## for
- 반복적이고 지루한 작업은 컴퓨터를 이용하여 자동화
- for: 리스트나 튜플, 문자열의 첫 번째 요소부터 마지막 요소까지 차례로 변수에 대입되어 "수행할 문장1", "수행할 문장2" 등이 수행
```
for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
```

In [ ]:
for x in range(5) :
  print("Hello Python~!!")

Hello Python~!!
Hello Python~!!
Hello Python~!!
Hello Python~!!
Hello Python~!!

## range()함수
- range(start, stop)와 같이 호출하면 start부터 시작하여서 (stop-1)까지의 정수가 생성
- stop은 포함되지 않음
- start부터 stop-1까지 step의 간격으로 정수들을 생성
- start와 step이 대괄호로 싸여져 있는데 이는 생략할 수 있다는 의미
- range(10)하면 0부터 9까지의 정수가 생성
```
range([start,] stop [,step])
```

In [ ]:
sum = 0

for x in range(10) : # 0~9
  sum = sum + x

print(sum)

45

- range() 함수는 지정된 범위의 값을 반환
- range() 함수를 이용하면 특정 구간의 정수들을 생성

In [ ]:
sum = 0

for x in range(1,11,1) :
  sum = sum + x

print(sum)

55

## 데이터 구조 : 리스트 (데이터들의 목록)

In [ ]:
for x in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] :
  print(x, end=" ") # end=" "는 가로로 출력하게 해준다.

0 1 2 3 4 5 6 7 8 9

In [ ]:
for name in ["포닉스", "넙죽이", "눈송이", "독수리" ]:
  print("안녕! " + name)

안녕! 포닉스
안녕! 넙죽이
안녕! 눈송이
안녕! 독수리

## 문자열 반복
- 문자열도 시퀀스의 일부분
- 문자열을 대상으로 반복문을 만들 수 있음

In [ ]:
for c in "abcdef":
  print(c, end=" ")

a b c d e f

## while
- 조건의 결과(참 또는 거짓)에 따라 특정 부분의 처리를 반복 실행하는 제어문장
- 조건문이 참인 동안에 while문 아래에 속하는 문장들이 반복해서 수행

```
while 조건문:
    수행할 문장1
    수행할 문장2
    수행할 문장3
```

In [ ]:
i = 0;
while i < 5 :
  print("Hello Python~!!")
  i = i + 1
print("반복이 종료되었습니다.")

Hello Python~!!
Hello Python~!!
Hello Python~!!
Hello Python~!!
Hello Python~!!
반복이 종료되었습니다.

## 분기문(Jump Statement)
- 반복문 탈출하는 break문

In [ ]:
for i in range(1,100) :
  print("for문을 %d번 실행 " % i)
  break

for문을 1번 실행

- 반복문으로 다시 돌아가는 continue문
    - continue문을 만나면 무조건 블록의 남은 부분을 건너뛰고 반복문의 처음으로 돌아감

- 예제: 1~100까지의 합을 구하되 1 +2 +4 +5 +7 +8 +10 +…과 같이 3의 배수를 건너뛰고(=제외하고) 더하는 프로그램

In [ ]:
hap, i = 0,0
for i in range(1,101) :
  if i % 3 == 0:
    continue
  hap +=i

print("1~100의 합계(3의 배수 제외) : %d" % hap)

1~100의 합계(3의 배수 제외) : 3367

- 예제 실습 : 정수들의 합
    - 1부터 사용자가 입력한 수 n까지 더해서 (1+2+3+...+n)을 계산하는 프로그램을 작성 (for 문 사용)

In [ ]:
# 반복을 이용한 정수합 프로그램
sum = 0

limit=int(input("어디까지 계산할까요: "))
for i in range(1, limit+1) :
  sum += i

print("1부터 ", limit, "까지의 정수의 합= ", sum)

어디까지 계산할까요: 777
1부터  777 까지의 정수의 합=  302253

- 예제 실습 : 팩토리얼 계산
    - for문을 이용하여서 팩토리얼을 계산
    - 팩토리얼 n!은 1부터 n까지의 정수를 모두 곱한 것을 의미
    - n! = 1×2×3×……×(n-1)×n이다.

In [ ]:
# 반복을 이용한 팩토리얼 구하기
fact=1.0

n = int(input("정수를 입력하시오: "))
for i in range(1, n+1) :
  fact = fact * i;

print(n,"!은", fact, "이다.")

정수를 입력하시오: 10
10 !은 3628800.0 이다.

- 예제실습: 자리수의 합
    - 정수 안의 각 자리수의 합을 계산하는 프로그램을 작성
    - 예를 들어서 1234라면 (1+2+3+4)를 계산

In [ ]:
number = 1234
sum = 0;
while number > 0 :
    digit = number % 10
    sum = sum + digit
    number = number // 10
print("자리수의 합은 %d입니다." % sum)

자리수의 합은 10입니다.

- 예제 실습: 숫자 맞추기 게임
    - 컴퓨터가 선택한 숫자를 사용자가 맞추는 게임
    - 입력한 숫자가 선택한 숫자보다 높은 수인지 낮은 수인지 정보 제공
    - 시도 횟수 제공

In [ ]:
import random

tries = 0
number = random.randint(1, 100)

print("1부터 100 사이의 숫자를 맞추시오")

while tries < 10:
  guess = int(input("숫자를 입력하시오: "))
  tries = tries + 1
  if guess < number:
    print("낮음!")
  elif guess > number:
    print("높음!")
  else:
    break
if guess == number:
  print("축하합니다. 시도횟수=", tries)
else:
  print("정답은 ", number)

1부터 100 사이의 숫자를 맞추시오
숫자를 입력하시오: 40
낮음!
숫자를 입력하시오: 87
높음!
숫자를 입력하시오: 52
낮음!
숫자를 입력하시오: 66
낮음!
숫자를 입력하시오: 70
낮음!
숫자를 입력하시오: 75
높음!
숫자를 입력하시오: 73
낮음!
숫자를 입력하시오: 74
축하합니다. 시도횟수= 8

- 예제 실습: 커피 자판기(실행)

In [ ]:
coffee = 10
money = 300

while money:
  print("돈을 받았으니 커피를 줍니다.")
  coffee = coffee ‐ 1
  print("남은 커피의 양은 %d개입니다." % coffee)
  if not coffee:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

SyntaxError: ignored

# 함수 개념

## 함수의 개념

- 함수(function)는 독립적으로 수행하는 프로그램 단위로 특정 작업을 수행하는 명령어들의 모음에 이름을 붙인 것

- 프로그램에서 반복적으로 수행되는 기능을 함수로 만들어 호출

- 함수는 작업에 필요한 데이터(매개변수)를 전달받을 수 있으며, 작업이 완료된 후에는 작업의 결과를 호출자에게 반환할 수 있음

## 함수의 필요성

- 함수는 문제 해결의 방법
- 주어진 문제를 작은 문제, 즉 여러 함수로 나누어 생각할 수 있으므로 함수를 만드는 것은 문제 해결의 하나의 방법
- 함수 이용의 장점
- 함수로 구성된 프로그램은 함수 단위로 구성되어 있어, 읽기 쉽고, 이해하기 쉬움
- 이미 정의된 함수는 여러 번 호출이 가능하므로 소스의 중복을 최소화하여 프로그램의 양을 줄이는 효과

## 함수 정의(Python)
- 함수 정의는 def로 시작하고 콜론(:)으로 끝냄
- 함수의 시작과 끝은 코드의 들여쓰기로 구분
- 시작과 끝을 명시해 줄 필요가 없음

```
def 함수이름 (입력 인수) :
  수행할 문장
  …
  return 반환값
```

- 함수 정의 문법

```
def 함수이름 (Argument list …):
  수행문(statements)
  return <반환값>
```

- 간단한 함수 선언해 보기
    - 입력 받은 2개의 매개변수(인수)를 서로 더한 값을 리턴

```
def add(a, b):
  return a+b
>>> add(10, 10)
20
```

## 함수 정의와 함수 호출

In [ ]:
#함수 정의
def add(a, b) :
  result = a + b
  return result
  
#함수 호출
sum = add(100, 200)
print(sum)

300

## 함수 매개변수와 반환 값
- 입력 값과 반환 값이 없는 함수

```
def say():
  print("hello")
```
    - None을 반환

- 입력 값은 없고 반환 값이 있는 함수

```
def say():
  return("hello" )
```

## 함수 작성 예시
- 정수의 거듭제곱값을 계산하여 반환하는 함수 작성 ( ** 연산자 사용가능)

In [ ]:
def power(x, y):
  result = 1
  for i in range(y):
    result = result * x
  return result
  
print(power(10, 2))

100

## 함수를 이용할 때 주의할 점
- 파이썬 인터프리터는 함수가 정의되면 함수 안의 문장들은 즉시 실행하지 않음
- 함수 정의가 아닌 문장들은 즉시 실행

In [ ]:
print(power(10, 2))

def power(x, y):
  result = 1
  for i in range(y):
    result = result * x
  return result

100

## 함수 작성 예시(2)
- 정수의 거듭제곱값을 계산하여 반환하는 함수 작성 ( ** 연산자 사용가능)
- main() 함수 호출 활용

In [ ]:
def main():
  print(power(10, 2))

def power(x, y):
  result = 1
  for i in range(y):
    result = result * x
  return result

main()

100

## 함수 실습

In [ ]:
# 함수
def add(a,b):
  return a+b

def swap(a,b):
  a,b = b,a
  return a,b

# 시작코드
a = int(input("정수1 입력: "))
b = int(input("정수2 입력: "))
sum = add(a,b)
average = sum / 2
print("두 수의 합 : ", sum)
print("두 수의 평균 : ", average)
a, b = swap(a, b)
print("두 수의 교환 : ", a, b)

정수1 입력: 80
정수2 입력: 90
두 수의 합 :  170
두 수의 평균 :  85.0
두 수의 교환 :  90 80

## 리스트

- 리스트는 여러 개의 데이터를 하나의 이름으로 관리할 수 있는 데이터 구조
- 서로 다른 데이터 타입의 데이터를 하나의 리스트이름으로 관리 가능

In [1]:
fruit = ['banana', 'apple', 'orange']
'apple' in fruit

True

In [2]:
'cherry' in fruit

False

In [4]:
scores = [ 32, 56, 64, 72, 12, 37, 98, 77, 59, 69]

for element in scores:
  print(element, end=' ')

32 56 64 72 12 37 98 77 59 69

In [5]:
STUDENTS = 5

scores = []
scoreSum = 0

for i in range(STUDENTS):
  value = int(input("성적을 입력하세요: "))
  scores.append(value) #리스트에 값을 추가
  scoreSum += value

scoreAvg = scoreSum / len(scores)
highScoreStudents = 0
for i in range(len(scores)):
  if scores[i] >= 80:
    highScoreStudents += 1
    
print("성적 평균은", scoreAvg, "입니다.")
print("80점 이상 성적을 받은 학생은", highScoreStudents, "명입니다.")

성적을 입력하세요: 75
성적을 입력하세요: 85
성적을 입력하세요: 42
성적을 입력하세요: 91
성적을 입력하세요: 64
성적 평균은 71.4 입니다.
80점 이상 성적을 받은 학생은 2 명입니다.

In [6]:
Names = []
while True:
  name = input("학생 이름을 입력하세요: ")
  if name == "" :
    break
  Names.append(name)
  
print("학생 이름:")
for name in Names:
  ㅇprint(name, end=", ")

학생 이름을 입력하세요: 슬기
학생 이름을 입력하세요: 예리
학생 이름을 입력하세요: 조이
학생 이름을 입력하세요: 아이린
학생 이름을 입력하세요: 웬디
학생 이름을 입력하세요:
학생 이름:
슬기, 예리, 조이, 아이린, 웬디,

In [7]:
scores = [32,56,64,72,12,37,98,77,59,69]

count = 0
for element in scores:
  if element >= 70:
    count += 1

print(count)

3

## 데이터 구조

- 프로그램에서 자료들을 저장하는 여러 가지 구조들이 있다. 이를 자료 구조(data structure)라 부른다.
- 파이썬에는 리스트, 튜플, 딕셔너리, 문자열 등 다양한 데이터 구조를 기본으로 사용할 수 있도록 제공한다.

리스트 예제

In [10]:
menu = 0
friends = []
while menu != 9:
  print("‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐")
  print("1. 친구 리스트 출력")
  print("2. 친구추가")
  print("3. 친구삭제")
  print("4. 이름변경")
  print("9. 종료")
  menu = int(input("메뉴를 선택하시오: "))
  if menu == 1:
    print(friends)
  elif menu== 2:
    name = input("이름을 입력하시오: ")
    friends.append(name)
  elif menu == 3:
    del_name = input("삭제하고 싶은 이름을 입력하시오: ")
    if del_name in friends:
      friends.remove(del_name)
    else:
      print("이름이 발견되지 않았음")
  elif menu == 4:
    old_name = input("변경하고 싶은 이름을 입력하시오: ")
    if old_name in friends:
      index = friends.index(old_name)
      new_name = input("새로운 이름을 입력하시오: ")
      friends[index] = new_name
    else:
      print("이름이 발견되지 않았음")

‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 이름변경
9. 종료
메뉴를 선택하시오: 2
이름을 입력하시오: 아린
‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 이름변경
9. 종료
메뉴를 선택하시오: 1
['아린']
‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐‐
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 이름변경
9. 종료
메뉴를 선택하시오: 9

튜플 : 튜플(tuple)은 변경될 수 없는 리스트

In [11]:
colors = ("red", "green", "blue")
colors

('red', 'green', 'blue')

In [12]:
numbers = (1, 2, 3, 4, 5 )
numbers

(1, 2, 3, 4, 5)

튜플은 값을 변경할 수 없음

In [13]:
t1 = (1, 2, 3, 4, 5)
t1[0] = 100
Traceback (most recent call last):
  File "<pyshell#11>", line 1, in <module>
    t1[0]=100

SyntaxError: ignored

In [14]:
numbers = ( 1, 2, 3, 4, 5 )
colors = ("red", "green", "blue")
t = numbers + colors

t

(1, 2, 3, 4, 5, 'red', 'green', 'blue')

딕셔너리

In [15]:
contacts = {'Kim':'01012345678', 'Park':'01012345679', 'Lee':'01012345680' }
contacts

{'Kim': '01012345678', 'Lee': '01012345680', 'Park': '01012345679'}

In [16]:
contacts = {'Kim':'01012345678', 'Park':'01012345679', 'Lee':'01012345680' }
contacts['Kim']

'01012345678'

In [17]:
contacts.get('Kim')

'01012345678'

In [18]:
if "Kim" in contacts:
  print("키가 딕셔너리에 있음")

키가 딕셔너리에 있음

In [19]:
scores = { 'Korean': 80, 'Math': 90, 'English': 80}
for item in scores.items():
  print(item)

('Korean', 80)
('Math', 90)
('English', 80)

문자열
- 문자 열은 문자들의 시퀀스로 정의
- 글자들이 실(string)로 묶여 있는 것이 문자열

In [20]:
word = 'abcdef'
print(word[0])
print(word[5])

a
f

슬라이싱

In [21]:
word = 'Python'
print(word[0:2])
print(word[2:5])

Py
tho

in 연산자와 not in 연산자

In [22]:
s="Love will find a way."
"Love" in s

True