<a href="https://colab.research.google.com/github/kdmid/Class_Python/blob/main/Postech/Postech_Python_Practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수와 메모리
- 파이썬에서 변수의 데이터 형식은 값을 넣는 순간마다 변경될 수 있
는 유연한 구조

In [ ]:
a = 10 #정수형
type(a)

int

In [ ]:
 a = 10.5 #실수형
type(a)

float

- 변수에는 다른 변수의 값도 저장 가능

In [ ]:
width = 10
height = 20
area = width * height
print(area)

200

- 문자열, 실수 저장

In [ ]:
s = '안녕하세요?'
print(s)

안녕하세요?

In [ ]:
pi = 3.141592
print(pi)

3.141592

- 문제 해결 : 변수 x 와 변수 y의 값을 서로 바꾸는 프로그램을 작성
- 다음과 같은 프로그램으로는 변수의 값을 교환할 수 없음
- 왜 그럴까? 그리고 해결 방법은 무엇일까?

      a = 10 # a : 10  
      b = 20 # b : 20  
      a = b # a : 20  
      b = a # b : 20

- 해결 방법 1

In [ ]:
x = 90
y = 95
print(x, y)

90 95

In [ ]:
temp= x
x = y
y= temp
print(x, y)

95 90

- 해결 방법 2

In [ ]:
a = 10
b = 20
a,b = b,a
print (a,b)

20 10

# 입출력 
- 입력 함수 : `input()`
- 출력함수 : `print()`

In [ ]:
name = input('이름을 입력해주세요: ')
print(name, "님 만나서 반갑습니다.")

이름을 입력해주세요: 포닉스
포닉스 님 만나서 반갑습니다.

In [ ]:
x = input("첫 번째 정수: ")
y = input("두 번째 정수: ")
sum = x + y
print("합은 ", sum)

첫 번째 정수: 10
두 번째 정수: 20
합은  1020

- `input`만 입력하게 될 경우 문자형으로 인식하게 된다.
- 따라서 `int`을 넣어 정수형으로 인식하게끔 만들어줘야 한다.

In [ ]:
x = int(input("첫 번째 정수: "))
y = int(input("두 번째 정수: "))
sum = x + y
print("합은 ", sum)

첫 번째 정수: 10
두 번째 정수: 20
합은  30

# 연산자

## 산술연산자

In [2]:
a = 5; b = 3
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b) #더하기, 빼기, 곱, 나누기, 나누기(몫), 나누기(나머지), 제곱

8 2 15 1.6666666666666667 1 2 125

In [3]:
a,b,c = 2,3,4
print(a+b-c, a+b*c, a*b/c) #사칙연산처럼 우선순위가 적용됨

1 14 1.5

- 문자열이 int() 함수에 의해서 정수로, float() 함수에 의해서 실수로 변경
- 숫자를 문자열로 변환하기 위해서는 str() 함수를 사용

In [4]:
s1, s2, s3 = "100", "100.123", "9999999999999"
print(int(s1)+1, float(s2)+1, int(s3)+1)

101 101.123 10000000000000

In [7]:
a = 100; b = 100.123
str(a) + '1'; str(b) + '1'

'100.1231'

- a는 10에서 시작하여 프로그램이 진행될수록 값이 누적됨

In [17]:
a = 10
a += 5; print(a)
a -= 5; print(a)
a *= 5; print(a)
a /= 5; print(a)
a //= 5; print(a)
a %= 5; print(a)
a **= 5; print(a)

15
10
50
10.0
2.0
2.0
32.0

- 동전 교환 프로그램

In [20]:
##변수 선언 부분
money, c500, c100, c50, c20 = 0,0,0,0,0

##메인(main) 코드 부분
money = int(input("교환할 돈은 얼마 ? "))

c500 = money//500
money %= 500

c100 = money//100
money %= 100

c50 = money//50
money %= 50

c10 = money//10
money %= 10

print("\n 오백원짜리 ==> %d 개" % c500)
print("백원짜리 ==> %d 개" % c100)
print("오십원짜리 ==> %d 개" % c50)
print("십원짜리 ==> %d 개" % c10)
print("바꾸지 못한 잔돈  ==> %d 원 \n"% money)

교환할 돈은 얼마 ? 34821

 오백원짜리 ==> 69 개
백원짜리 ==> 3 개
오십원짜리 ==> 0 개
십원짜리 ==> 2 개
바꾸지 못한 잔돈  ==> 1 원

## 대입연산자
- 변수의 저장 값을 대입하는 = 기호가 대입(할당) 연산자
- = 연산자 오른쪽 수식을 먼저 계산하고 결과 값을 왼쪽 변수에 대입하
는 기능
- 대입 연산자의 왼쪽 부분에는 반드시 변수만이 가능, 대입 연산자 왼쪽에
온 변수는 값이 변경
- 수식의 결과 값을 변수에 대입하지 않으면 프로그램에는 영향이 없음

## 관계 연산자
- 어떤 것이 큰지, 작은지, 같은지를 비교하는 것, 결과는 참(True)
이나 거짓(False)

In [9]:
a, b = 100, 200
print(a==b, a!=b, a>b, a<b, a>=b, a<=b)

False True False True False True

## 논리 연산자

In [12]:
a = 99
(a > 100) and (a < 200)

False

In [11]:
(a > 100) or (a < 200)

True

In [13]:
not (a == 100)

True

100200

- 일상 생활 문제 해결 : 윤년(leap year)
    - 윤년을 계산하는 방법 조사하기(치윤법)
    - ① 기원 연수가 4로 나누어 떨어지는 해는 우선 윤년으로 하고, (year % 4 == 0) 
    - ② 그 중에서 100으로 나누어 떨어지는 해는 평년으로 하며, (year % 100 != 0)
    - ③ 다만 400으로 나누어 떨어지는 해는 다시 윤년으로 정하였다. (year % 400 == 0)

In [22]:
## 변수 선언 부분
year = 0

## 메인(main) 코드 부분
year = int(input("연도를 입력하세요 : "))

if(((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0)) :
   print("%d 년은 윤년입니다." %year);
else :
  print("%d 년은 윤년이 아닙니다." %year);

연도를 입력하세요 : 2020
2020 년은 윤년입니다.

# 조건문 (if else)

- 일상 생활 문제 : 성적처리
```
P대학교 Y교수는 학생들 성적 처리를 고민하고 있다.  
학생들의 점수를 입력 받아 점수에 따라 성적을 산출하는 일을 컴퓨터를 활용하여 해결하고자 한다.
```
```
점수 학점
90 ~ 100 A
80 ~ 89  B
70 ~ 79  C
60 ~ 69  D
 0 ~ 59  F
```

- 문제 해결을 위해 필요한 것들..
    - 1. 성적자료를 입력 받아 변수에 저장하는 방법
        - 1. 변수선언 (python101)
        - 2. 입력 함수 : input 함수 (int 형으로 입력 받기)
    - 2. 점수에 따라 학점을 계산하기 위해서 필요한 연산자
        - 1. 관계 연산자 : (python101 >= 90)
    - 3. 조건에 따라 프로그램의 흐름을 제어하는 명령어
       - 1. 조건 명령어 : if else
        - 2. 여러 조건비교 명령어 : if elif

- 조건문(if)
```
if (expression):
    statement1
next_statement
```
    - 들여쓰기로 구역을 나눔

- if else
```
if (expression) :
    statement_true
else :
    statement_false
next_statement
```
- 중첩 if
```
if 조건A :
    if 조건1 :
        수행할 문장 A1
    else :
        수행할 문장 A2
else :
    수행할 문장 B
```

- 중첩 if 예제
```
마트에서 사과가 신선하면 사과를 사기로 한다.
만약 사과가 개당 1000원 미만이면 10개를 산다.
하지만 사과가 개당 1000원 이상이면 5개만 산다. 
```

In [27]:
appleQuality = input("사과의 상태를 입력하시오: ")

applePrice = int(input("사과 1개의 가격을 입력하시오: "))

if appleQuality == "신선":
  if applePrice < 1000:
    print("10개를 산다")
  else:
    print("5개를 산다")
else:
  print("사과를 사지 않는다.")

사과의 상태를 입력하시오: 신선
사과 1개의 가격을 입력하시오: 1500
5개를 산다

- 다중 if(if elif)
    - 조건 여러 개를 비교하여 조건에 맞는 문장을 수행

```
if (expression1) :
  statement1
elif (expression2):
  statement2
elif (expression3):
  statement3
else :
  statement4
next_statement
```

- if elif 예제 : 1개의 정수 값을 입력 받아 양수, 0, 음수를 판별

In [28]:
number=int(input("정수를 입력하시오: "))
if number<0:
  print("입력된 정수는 음수입니다.")
elif number ==0 :
  print("입력된 정수는 0입니다.")
else :
  print("입력된 정수는 양수입니다.")

정수를 입력하시오: -1
입력된 정수는 음수입니다.

## 실습

- 일상 생활 문제 : 성적처리
```
P대학교 Y교수는 학생들 성적 처리를 고민하고 있다.
학생들의 점수를 입력 받아 점수에 따라 성적을 산출하는 일을 컴퓨터를 활용하여 해결하고자 한다.
```
```
성적 산출 방법 점수 학점
90 ~ 100 A
80 ~ 89 B
70 ~ 79 C
60 ~ 69 D
0 ~ 59 F
```

1. 성적자료를 입력 받아 변수에 저장하는 방법
    1. 변수선언 (python101)
    2. 입력 함수 : input 함수 (int 형으로 입력 받기)
2. 점수에 따라 학점을 계산하기 위해서 필요한 연산자
    1. 관계 연산자 : (python101 >= 90)
3. 조건에 따라 프로그램의 흐름을 제어하는 명령어
    1. 조건 명령어 : if else
    2. 여러 조건비교 명령어 : if elif

In [30]:
python101 = int(input("파이썬 점수를 입력하세요: "))
if (python101 >= 90) :
  print("파이썬 프로그래밍 학점은 A 입니다.")
elif (python101 >= 80) :
=  print("파이썬 프로그래밍 학점은 B 입니다.")
elif python101 >= 70 :
  print("파이썬 프로그래밍 학점은 C 입니다.")
elif python101 >= 60 :
  print("파이썬 프로그래밍 학점은 D 입니다.")
else :
  print("파이썬 프로그래밍 학점은 F 입니다.")

print("수고 많으셨습니다!!")

파이썬 점수를 입력하세요: 97
파이썬 프로그래밍 학점은 A 입니다.
수고 많으셨습니다!!

- 일상 생활 문제 : 성적처리 확장(스스로 실습하기)
```
P대학교 Y교수는 학생들 성적 처리를 고민하다가 문제를 해결하고 자신감을 얻어 프로그램을 다음과 같이 확장하고자 한다.
• 수학과 영어 점수를 입력 받아 평균과 학점을 구하는 프로그램으로 확장하여 실습하기
```
```
성적 산출 방법 점수 학점
90 ~ 100 A
80 ~ 89 B
70 ~ 79 C
60 ~ 69 D
0 ~ 59 F
```

In [34]:
math = int(input("수학점수: "))
english = int(input("영어점수: "))
score = (math + english)/2

if (score >= 90) :
  print("A")
elif(score >= 80) :
  print("B")
elif(score >= 70) :
  print("C")
elif(score >= 60) :
  print("D")
else :
  print("F")

수학점수: 70
영어점수: 85
C

- 일상 생활 문제 : 가위 바위 보 게임
```
P대학교 Y교수는 학생들과 가위, 바위, 보 게임을 만들기 위해 고민하고 있다.
학생들이 가위, 바위, 보 게임을 즐길 수 있도록 컴퓨터를 활용하여 해결하고자 한다.
```
- 사용자가 가위, 바위, 보 중에서 하나를 선택하고 컴퓨터도 난수로
가위, 바위, 보 중에서 하나를 선택
- 사용자의 선택과 컴퓨터의 선택을 비교하여서 승패를 화면에

1. 난수 생성하기 (컴퓨터가 선택하는 가위, 바위, 보를 위해)
    1. 라이브러리 함수 활용(import random)
2. 사용자 선택 변수를 입력 받아 변수에 저장하는 방법
    1. 변수선언 (player)
    2. 입력 함수 : input 함수
3. 조건에 따라 난수 생성하기
    1. 난수 함수 활용(number = random.randint(0,2))
4. 생성된 난수를 활용하여 가위바위보 게임 알고리즘 만들기
    1. 게임 규칙에 따라 알고리즘 만들기
    2. 여러 조건에 따라 수행되는 문장 만들기 (if elif)

In [43]:
import random # 난수를 생성하기 위해 포함

player = input("(가위, 바위, 보) 중에서 하나를 선택하세요: ")

number = random.randint(0,2) # 정수 난수 0,1,2 중에 1개 생성


if (number == 0):
  computer = ＂가위＂
elif (number == 1):
  computer = ＂바위＂
elif (number == 2):
  computer = ＂보＂

print("사용자: ", player, "컴퓨터: ", computer)

if (player == computer):
  print("비겼음!")
elif (player == "바위"):
  if (computer == "보"):
    print("컴퓨터가 이겼음!")
  else:
    print("사용자가 이겼음!")
elif (player == "보"):
  if (computer == "바위"):
    print("사용자가 이겼음!")
  else:
    print("컴퓨터가 이겼음!")
elif (player == "가위"):
  if (computer == "바위"):
    print("컴퓨터가 이겼음!")
  else:
    print("사용자가 이겼음!")

(가위, 바위, 보) 중에서 하나를 선택하세요: 바위
1